.icon .solid-fa {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.icon.invalid {
  color: red;
}

.icon.hidden {
  opacity: 0;
}
