<div>This is the child component</div>
<div>

  <button {{on 'click' this.childSomething}}>Click me {{@valueFromParent}}</button>
</div>

<TicTacToe::GrandChild @onSelect={{this.onSelect}} @onEmitterUp={{this.onEmitterUp}} />