<div class='layout'>
  <div class='nav-bar'>
    <img src='logo.png' />
    <NavItem @name="apple" />
    {{! router links }}
    Items here
  </div>
  <div class='page-wrapper'>
    <div class='page'>
      {{outlet}}
    </div>
  </div>
</div>