.tic-tac-toe-page .actions > * {
  margin-right: 0.25rem;
}

.tic-tac-toe-page .game-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tic-tac-toe-page .game-wrapper .game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tic-tac-toe-page .game-area .complete {
  pointer-events: none;
}

.tic-tac-toe-page .winner {
  width: 12rem;
  height: 2rem;
}

.tic-tac-toe-page .winner .label {
  background-color: #e05c43;
  color: white;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
}
