<div class='layout'>
  <div class='nav-bar'>
    <img src='logo.png' />
    {{#each this.routes as |route|}}
      <LinkTo @route={{route.path}}>
        <Layout::NavItem @route={{route}} />
      </LinkTo>
    {{/each}}

  </div>
  <div class='page-wrapper'>
    <div class='page'>
      {{outlet}}
    </div>
  </div>
</div>